[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
faker = "*"
requests = "*"
webargs = "*"
httpx = "*"
flake8 = "*"
numpy = "==1.24.2"
multiprocess = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.10"
